.Order{
    P{
        margin: 0;
    }
    .Nav{
        >span{
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            left: 0;
            top: 0;
        }
    }
    >.container{
        margin-bottom: 2.5rem;
            >.cart_item{
                margin-bottom: 0.4rem;
                padding: 0.2rem;
                display: flex;
                background: #fff;
                >span{
                    line-height: 4.95rem;
                    display: block;
                    width: 2rem;
                    text-align: center;
                    color: #5e8bdd;
                    font-size: 1rem;
                }
                >div{
                    flex: 1;
                    display: flex;
                    >a{
                        line-height: 4.5rem;
                        text-align: center;
                        width: 4.95rem;
                        height: 4.95rem;
                        >img{
                            width: 4.5rem;
                            height: 4.5rem;
                        }
                    }
                    >div{
                        flex: 1;
                        >p:nth-of-type(1){
                            text-indent: 0.25rem;
                            font-weight: 700;
                            font-size: 0.7rem;
                            margin-top: 1rem;
                            
                        }
                        >p:nth-of-type(2){
                            line-height: 1rem;
                            font-size: 0.6rem;
                            
                        }
                        >p:nth-of-type(3){
                            font-size: 0.7rem;
                            height: 1.5rem;
                            >span{
                                line-height: 1.5rem;
                                margin: 0 0.5rem;
                            }
                            
                            >input{
                                width: 2rem;
                                border-radius: 0.25rem;
                                text-align: center;
                                height: 1.4rem;
                                border: 1px solid #E1E1E1;
                                outline: none;
                                font-size: 0.6rem;
                            }
                            
                            >span:last-of-type{
                                font-family: "微软雅黑";
                                color: #D44D44;
                                font-weight: 700;
                                float: right;
                                margin-right: 1rem;
                                &.count{
                                margin: 0;
                                font-family: "微软雅黑";
                                color: #D44D44;
                                float: left;
                                font-size: 0.6rem;
                                >b{
                                    margin-left: 0.5rem;
                                    color: #666;
                                }
                                }
                            }
                            
                        }
                    }
                }
            }
    }
}
