.Index > .Nav {
  transform: scale(1); }
  .Index > .Nav > .nav_header {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1D1D1D;
    z-index: 9999999; }
    .Index > .Nav > .nav_header > span {
      font-size: 1.25rem;
      color: #D2D2D2; }
      .Index > .Nav > .nav_header > span.left {
        font-size: 1rem;
        position: absolute;
        left: 1rem; }
  .Index > .Nav > .nav_box {
    width: 100%;
    position: absolute;
    top: 2.5rem;
    left: 0;
    z-index: 888; }
    .Index > .Nav > .nav_box > ul {
      height: 100vh;
      background: #000; }
      .Index > .Nav > .nav_box > ul > li {
        width: 25%;
        height: 3.75rem;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .Index > .Nav > .nav_box > ul > li > span {
          font-weight: normal;
          color: #ddd;
          display: block;
          text-align: center; }
          .Index > .Nav > .nav_box > ul > li > span:last-of-type {
            transform: scale(0.8);
            transform-origin: 0 50%;
            font-size: 0.6rem;
            line-height: 0.6rem; }
          .Index > .Nav > .nav_box > ul > li > span:first-of-type {
            margin-top: 1rem;
            font-size: 1.2rem;
            line-height: 1.2rem; }

.Index > .container {
  margin-bottom: 2.5rem; }
  .Index > .container > .banner {
    background: #fff;
    padding-top: 0.75rem; }
    .Index > .container > .banner > .am-wingblank {
      height: 7.5rem; }
      .Index > .container > .banner > .am-wingblank > .slider {
        height: 7.5rem; }
        .Index > .container > .banner > .am-wingblank > .slider img {
          width: 100%;
          height: 7.5rem; }
    .Index > .container > .banner > .index_nav {
      height: 2.6rem;
      margin: 1rem 0.6rem 0;
      display: flex;
      justify-content: space-around; }
      .Index > .container > .banner > .index_nav > a {
        color: #555;
        display: block;
        width: 25%;
        text-align: center; }
        .Index > .container > .banner > .index_nav > a > img {
          width: 1.25rem;
          height: 1.25rem; }
        .Index > .container > .banner > .index_nav > a > span {
          display: block;
          font-size: 0.6rem;
          transform: scale(0.8); }
  .Index > .container > .rmsp, .Index > .container > .rmsp_ad, .Index > .container > .rxjx_ad, .Index > .container > .jg_pro_ad {
    background: #fff;
    margin: 0.25rem 0; }
    .Index > .container > .rmsp > .rmsp_title, .Index > .container > .rmsp_ad > .rmsp_title, .Index > .container > .rxjx_ad > .rmsp_title, .Index > .container > .jg_pro_ad > .rmsp_title {
      font-size: 1rem;
      line-height: 2rem;
      text-align: left;
      text-indent: 0.5rem;
      font-weight: 700;
      border-bottom: 1px solid #e1e1e1; }
      .Index > .container > .rmsp > .rmsp_title > i, .Index > .container > .rmsp_ad > .rmsp_title > i, .Index > .container > .rxjx_ad > .rmsp_title > i, .Index > .container > .jg_pro_ad > .rmsp_title > i {
        margin-right: 0.5rem;
        float: right;
        font-size: 0.6rem; }
    .Index > .container > .rmsp > .content_box, .Index > .container > .rmsp_ad > .content_box, .Index > .container > .rxjx_ad > .content_box, .Index > .container > .jg_pro_ad > .content_box {
      overflow-x: hidden;
      width: 100vw; }
      .Index > .container > .rmsp > .content_box > .content_scroller, .Index > .container > .rmsp_ad > .content_box > .content_scroller, .Index > .container > .rxjx_ad > .content_box > .content_scroller, .Index > .container > .jg_pro_ad > .content_box > .content_scroller {
        width: 100vw;
        overflow-x: scroll;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch; }
        .Index > .container > .rmsp > .content_box > .content_scroller::-webkit-scrollbar, .Index > .container > .rmsp_ad > .content_box > .content_scroller::-webkit-scrollbar, .Index > .container > .rxjx_ad > .content_box > .content_scroller::-webkit-scrollbar, .Index > .container > .jg_pro_ad > .content_box > .content_scroller::-webkit-scrollbar {
          display: none; }
        .Index > .container > .rmsp > .content_box > .content_scroller > ul, .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul, .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul, .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul {
          padding: 1rem 0;
          width: 83.5rem;
          overflow: hidden; }
          .Index > .container > .rmsp > .content_box > .content_scroller > ul > a, .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul > a, .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul > a, .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul > a {
            float: left;
            margin-left: 0.5rem; }
            .Index > .container > .rmsp > .content_box > .content_scroller > ul > a > img, .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul > a > img, .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul > a > img, .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul > a > img {
              width: 6.3rem;
              height: 6.3rem;
              border: 1px solid #e1e1e1; }
            .Index > .container > .rmsp > .content_box > .content_scroller > ul > a > p, .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul > a > p, .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul > a > p, .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul > a > p {
              width: 6.3rem;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              text-align: left; }
              .Index > .container > .rmsp > .content_box > .content_scroller > ul > a > p:nth-of-type(1), .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(1), .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(1), .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(1) {
                font-weight: 700;
                line-height: 0.7rem;
                font-size: 0.8rem;
                color: #333;
                transform: scale(0.8);
                transform-origin: 0 50%; }
              .Index > .container > .rmsp > .content_box > .content_scroller > ul > a > p:nth-of-type(2), .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(2), .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(2), .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(2) {
                line-height: 1.2rem;
                font-size: 0.6rem;
                transform: scale(0.8);
                transform-origin: 0 50%;
                color: #666; }
              .Index > .container > .rmsp > .content_box > .content_scroller > ul > a > p:nth-of-type(3), .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(3), .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(3), .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul > a > p:nth-of-type(3) {
                line-height: 0.8rem;
                font-size: 0.8rem;
                color: #d44d44;
                transform: scale(0.8);
                transform-origin: 0 50%; }
  .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul, .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul, .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul {
    width: 35.75rem; }
    .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul > a, .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul > a, .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul > a {
      width: 11.25rem;
      height: 4.25rem;
      margin-left: 0.5rem; }
      .Index > .container > .rmsp_ad > .content_box > .content_scroller > ul > a > img, .Index > .container > .rxjx_ad > .content_box > .content_scroller > ul > a > img, .Index > .container > .jg_pro_ad > .content_box > .content_scroller > ul > a > img {
        border-radius: 0.5rem;
        width: 100%;
        height: 100%; }
  .Index > .container > .rxjx, .Index > .container > .jhq {
    background: #fff; }
    .Index > .container > .rxjx > .rxjx_title, .Index > .container > .jhq > .rxjx_title {
      font-size: 1rem;
      line-height: 2rem;
      text-align: left;
      text-indent: 0.5rem;
      font-weight: 700;
      border-bottom: 1px solid #e1e1e1; }
    .Index > .container > .rxjx img, .Index > .container > .jhq img {
      width: 17.55rem;
      height: 17.55rem; }
    .Index > .container > .rxjx .swiper-slide > a, .Index > .container > .jhq .swiper-slide > a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center; }
      .Index > .container > .rxjx .swiper-slide > a > p:nth-of-type(1), .Index > .container > .jhq .swiper-slide > a > p:nth-of-type(1) {
        font-size: 0.7rem;
        font-weight: 700;
        color: #333; }
      .Index > .container > .rxjx .swiper-slide > a > p:nth-of-type(2), .Index > .container > .jhq .swiper-slide > a > p:nth-of-type(2) {
        font-size: 0.6rem;
        color: #666;
        line-height: 1.5rem; }
      .Index > .container > .rxjx .swiper-slide > a > p:nth-of-type(3), .Index > .container > .jhq .swiper-slide > a > p:nth-of-type(3) {
        font-size: 0.7rem;
        font-weight: 700;
        color: #d44d44;
        margin-bottom: 2rem; }
  .Index > .container .jhq > .jhq_title {
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    text-indent: 0.5rem;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1; }
  .Index > .container .jhq img {
    width: 9.95rem;
    height: 9.95rem; }
  .Index > .container .jhq > .jhq_pj {
    background: #fff;
    overflow: hidden; }
    .Index > .container .jhq > .jhq_pj > a {
      color: #333;
      display: block;
      float: left;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 3rem;
      width: 50%;
      box-sizing: border-box;
      border-top: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      line-height: 3rem; }
      .Index > .container .jhq > .jhq_pj > a > img {
        width: 1.8rem;
        height: 1.8rem;
        float: left; }
        .Index > .container .jhq > .jhq_pj > a > img > span:first-of-type {
          float: left; }
        .Index > .container .jhq > .jhq_pj > a > img > span:last-of-type {
          color: #666;
          float: right; }
  .Index > .container .jhq_ad {
    background: #fff;
    margin: 0.25rem 0;
    position: relative;
    width: 100%;
    height: 15.75rem; }
    .Index > .container .jhq_ad > a:nth-of-type(1), .Index > .container .jhq_ad > a:nth-of-type(2), .Index > .container .jhq_ad > a:nth-of-type(3), .Index > .container .jhq_ad > a:nth-of-type(4) {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      width: 8.5rem;
      height: 4.5rem;
      border-radius: 0.5rem; }
      .Index > .container .jhq_ad > a:nth-of-type(1) > img, .Index > .container .jhq_ad > a:nth-of-type(2) > img, .Index > .container .jhq_ad > a:nth-of-type(3) > img, .Index > .container .jhq_ad > a:nth-of-type(4) > img {
        width: 100%;
        height: 100%; }
    .Index > .container .jhq_ad > a:nth-of-type(2) {
      top: 5.5rem; }
    .Index > .container .jhq_ad > a:nth-of-type(3) {
      top: 10.5rem; }
    .Index > .container .jhq_ad > a:nth-of-type(4) {
      left: 9.5rem;
      height: 14.5rem;
      width: 8.5rem; }
  .Index > .container .jg3, .Index > .container .jg2, .Index > .container .ppzb, .Index > .container .ppjx {
    background: #fff; }
    .Index > .container .jg3 > .jg3_title, .Index > .container .jg2 > .jg3_title, .Index > .container .ppzb > .jg3_title, .Index > .container .ppjx > .jg3_title {
      font-size: 1rem;
      line-height: 2rem;
      text-align: left;
      text-indent: 0.5rem;
      font-weight: 700;
      border-bottom: 1px solid #e1e1e1; }
      .Index > .container .jg3 > .jg3_title > i, .Index > .container .jg2 > .jg3_title > i, .Index > .container .ppzb > .jg3_title > i, .Index > .container .ppjx > .jg3_title > i {
        margin-right: 0.5rem;
        float: right;
        font-size: 0.6rem; }
    .Index > .container .jg3 > .content_box, .Index > .container .jg2 > .content_box, .Index > .container .ppzb > .content_box, .Index > .container .ppjx > .content_box {
      display: flex;
      justify-content: space-around;
      flex-flow: wrap;
      padding-bottom: 0.5rem; }
      .Index > .container .jg3 > .content_box > a, .Index > .container .jg2 > .content_box > a, .Index > .container .ppzb > .content_box > a, .Index > .container .ppjx > .content_box > a {
        width: 45%;
        margin-top: 0.75rem; }
        .Index > .container .jg3 > .content_box > a > img, .Index > .container .jg2 > .content_box > a > img, .Index > .container .ppzb > .content_box > a > img, .Index > .container .ppjx > .content_box > a > img {
          width: 100%;
          border: 1px solid #e1e1e1; }
        .Index > .container .jg3 > .content_box > a > p, .Index > .container .jg2 > .content_box > a > p, .Index > .container .ppzb > .content_box > a > p, .Index > .container .ppjx > .content_box > a > p {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-indent: 0.5rem; }
          .Index > .container .jg3 > .content_box > a > p:nth-of-type(1), .Index > .container .jg2 > .content_box > a > p:nth-of-type(1), .Index > .container .ppzb > .content_box > a > p:nth-of-type(1), .Index > .container .ppjx > .content_box > a > p:nth-of-type(1) {
            font-weight: 700;
            line-height: 0.7rem;
            font-size: 0.8rem;
            color: #333;
            transform: scale(0.8);
            transform-origin: 0 50%; }
          .Index > .container .jg3 > .content_box > a > p:nth-of-type(2), .Index > .container .jg2 > .content_box > a > p:nth-of-type(2), .Index > .container .ppzb > .content_box > a > p:nth-of-type(2), .Index > .container .ppjx > .content_box > a > p:nth-of-type(2) {
            line-height: 1.2rem;
            font-size: 0.6rem;
            transform: scale(0.8);
            transform-origin: 0 50%;
            color: #666; }
          .Index > .container .jg3 > .content_box > a > p:nth-of-type(3), .Index > .container .jg2 > .content_box > a > p:nth-of-type(3), .Index > .container .ppzb > .content_box > a > p:nth-of-type(3), .Index > .container .ppjx > .content_box > a > p:nth-of-type(3) {
            line-height: 0.8rem;
            font-size: 0.8rem;
            color: #d44d44;
            transform: scale(0.8);
            transform-origin: 0 50%; }
  .Index > .container .jg2 {
    margin: 0.25rem 0; }
    .Index > .container .jg2 > .jg2_title {
      font-size: 1rem;
      line-height: 2rem;
      text-align: left;
      text-indent: 0.5rem;
      font-weight: 700;
      border-bottom: 1px solid #e1e1e1; }
      .Index > .container .jg2 > .jg2_title > i {
        margin-right: 0.5rem;
        float: right;
        font-size: 0.6rem; }
    .Index > .container .jg2 > .content_box > a:last-of-type {
      display: none; }
  .Index > .container .ppzb > .ppzb_title, .Index > .container .ppjx > .ppzb_title {
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    text-indent: 0.5rem;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1; }
    .Index > .container .ppzb > .ppzb_title > i, .Index > .container .ppjx > .ppzb_title > i {
      margin-right: 0.5rem;
      float: right;
      font-size: 0.6rem; }
  .Index > .container .ppzb_ad {
    margin: 0.25rem 0;
    padding-bottom: 0.5rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .Index > .container .ppzb_ad > a {
      width: 95%;
      height: 6.7rem;
      margin-top: 0.5rem; }
      .Index > .container .ppzb_ad > a > img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem; }
  .Index > .container .ppjx > .ppjx_title {
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    text-indent: 0.5rem;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1; }
    .Index > .container .ppjx > .ppjx_title > i {
      margin-right: 0.5rem;
      float: right;
      font-size: 0.6rem; }

@keyframes bounceInDown {
  0% {
    transform: translate3d(0, -3000px, 0); }
  10% {
    transform: translate3d(0, -1000px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

.example-enter.example-enter-active {
  animation: bounceInDown .5s linear; }

.example-leave.example-leave-active {
  animation: bounceInDown .5s linear reverse; }
