.Nav {
  height: 2.5rem;
  width: 100%;
  background: #1d1d1d;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 800;
  text-align: center;
  line-height: 2.5rem; }
