@charset "UTF-8";
.Cart P {
  margin: 0; }

.Cart > .Nav > span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.6rem;
  font-weight: normal;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem; }

.Cart > .container > .cart_bottom {
  background: #fafafa;
  position: fixed;
  bottom: 2.5rem;
  height: 2.5rem;
  left: 0;
  width: 100%; }
  .Cart > .container > .cart_bottom > span:nth-of-type(1) {
    color: #5e8bdd;
    width: 2rem;
    height: 100%;
    font-size: 1rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 2.5rem;
    text-align: center; }
  .Cart > .container > .cart_bottom > span:nth-of-type(2) {
    color: #999;
    font-size: 0.6rem;
    margin-left: 2rem;
    float: left;
    width: 4rem;
    line-height: 2.5rem; }
    .Cart > .container > .cart_bottom > span:nth-of-type(2) > b {
      margin: 0 0.1rem; }
      .Cart > .container > .cart_bottom > span:nth-of-type(2) > b.bianji {
        color: #d44d44; }
  .Cart > .container > .cart_bottom > p {
    float: left; }
    .Cart > .container > .cart_bottom > p > span:first-of-type {
      display: block;
      height: 1.25rem;
      line-height: 1.25rem;
      font-size: 0.7rem;
      color: #d44d44;
      font-family: "微软雅黑";
      font-weight: 700; }
      .Cart > .container > .cart_bottom > p > span:first-of-type > b {
        color: #333;
        font-family: arial;
        font-weight: 600; }
    .Cart > .container > .cart_bottom > p > span:last-of-type {
      display: block;
      color: #d44d44;
      font-size: 0.6rem; }
  .Cart > .container > .cart_bottom > a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    margin: 0.25rem 0.5rem;
    line-height: 2rem;
    border-radius: 0.25rem;
    height: 2rem;
    width: 5.5rem;
    background: #666; }
    .Cart > .container > .cart_bottom > a.jiesuan {
      background: #5e8bdd; }
    .Cart > .container > .cart_bottom > a.del_choose {
      background: #d0453d; }

.Cart > .container > .cart_box > .cart_item {
  margin-bottom: 0.4rem;
  padding: 0.2rem;
  display: flex;
  background: #fff; }
  .Cart > .container > .cart_box > .cart_item > span {
    line-height: 4.95rem;
    display: block;
    width: 2rem;
    text-align: center;
    color: #5e8bdd;
    font-size: 1rem; }
  .Cart > .container > .cart_box > .cart_item > div {
    flex: 1;
    display: flex; }
    .Cart > .container > .cart_box > .cart_item > div > a {
      line-height: 4.5rem;
      text-align: center;
      width: 4.95rem;
      height: 4.95rem; }
      .Cart > .container > .cart_box > .cart_item > div > a > img {
        width: 4.5rem;
        height: 4.5rem; }
    .Cart > .container > .cart_box > .cart_item > div > div {
      flex: 1; }
      .Cart > .container > .cart_box > .cart_item > div > div > p:nth-of-type(1) {
        text-indent: 0.25rem;
        font-weight: 700;
        font-size: 0.7rem;
        margin-top: 1rem; }
      .Cart > .container > .cart_box > .cart_item > div > div > p:nth-of-type(2) {
        line-height: 1rem;
        font-size: 0.6rem; }
      .Cart > .container > .cart_box > .cart_item > div > div > p:nth-of-type(3) {
        font-size: 0.7rem;
        height: 1.5rem; }
        .Cart > .container > .cart_box > .cart_item > div > div > p:nth-of-type(3) > span {
          line-height: 1.5rem;
          margin: 0 0.5rem; }
        .Cart > .container > .cart_box > .cart_item > div > div > p:nth-of-type(3) > input {
          width: 2rem;
          border-radius: 0.25rem;
          text-align: center;
          height: 1.4rem;
          border: 1px solid #E1E1E1;
          outline: none;
          font-size: 0.6rem; }
        .Cart > .container > .cart_box > .cart_item > div > div > p:nth-of-type(3) > span:last-of-type {
          font-family: "微软雅黑";
          color: #D44D44;
          font-weight: 700;
          float: right;
          margin-right: 1rem; }
          .Cart > .container > .cart_box > .cart_item > div > div > p:nth-of-type(3) > span:last-of-type.count {
            margin: 0;
            font-family: "微软雅黑";
            color: #D44D44;
            float: left;
            font-size: 0.6rem; }
            .Cart > .container > .cart_box > .cart_item > div > div > p:nth-of-type(3) > span:last-of-type.count > b {
              margin-left: 0.5rem;
              color: #666; }

.cart_empty {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: arial;
  margin-top: 5rem; }
